<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="text-center">
                    <h2 class="brand">
                        <i class="glyphicon glyphicon-flash"></i>Sy<strong>CON</strong>
                        <br>
                        <small>- PDV -</small>
                    </h2>
                </div>
                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('overview')}">
                    	<a ui-sref="overview">
                    		Ponto de Venda 
                    		<span class="sr-only">(current)</span>
                    	</a>
                    </li>
                    <li ng-class="{active: $state.includes('reports')}">
                    	<a ui-sref="reports">
                    		Balança
                    	</a>
                    </li>
                    <li ng-class="{active: $state.includes('reports')}">
                        <a ui-sref="login">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view=""> 
            </div>
        </div>
    </div>
</div>