.login-page{
	/*
	background-image: url('../images/bar-min.jpg');
	background-size: 100% auto;
	*/
}

.border{
	border: 1px #FF0000 solid;
	border-style: dotted;
}

.login-box{
    margin-top: 7%;
    border: 1px #E74C3C solid;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	color: #e74c3c;	
}

.btn-sycon{
	border: 1px rgba(231, 76, 60, 0.8) solid;
    color: rgba(231, 76, 60, 0.8);
}

.btn-sycon:hover{
	border: 2px rgba(231, 76, 60, 1) solid;
    color: rgba(231, 76, 60, 1);
}

.main{
	background-color: #0C0C0C;
}

.sidebar{
	background-image: url('../images/bar-min.jpg');
	background-position: center center;
	background-size: auto 100%;
}

.nav-sidebar{
	background-color: rgba(0,0,0,0.8);
}

.dashboard-page .nav-sidebar>.active>a, .dashboard-page .nav-sidebar>.active>a:hover, .dashboard-page .nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: rgba(231, 76, 60, 0.8);
}

.dashboard-page .nav-sidebar>li>a:hover, .dashboard-page .nav-sidebar>li>a:focus {
    color: #fff;
    background-color: rgba(231, 76, 60, 0.4);
}

.btn-primary{
	border-color: #e74c3c;
	box-shadow: 0 0 0 2px #e74c3c inset!important;
    color: #e74c3c!important;
}

.btn-block{
	margin-bottom: 3%;
}

.btn-block h1{
	text-align: left;
}

.btn-block h1 i{
	float: right;
}

/**** AREA OuTline button ****/

.btn-primary:hover{
	border-color: none;
	/* box-shadow: 0 0 0 2px #e74c3c inset!important;*/
    background-color: #e74c3c!important;
    color: #ffffff!important;
}

.main{
	background-image: url('../images/wood-back.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (min-width: 768px) {
    .dashboard-page .sidebar {
       border-right: 1px solid #353535;
    }
}

.dashboard-page .main .jumbotron {
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
}



/***** csss premium de STYLE *********/

.syconHello {
color: #fff;
font-size: 7em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.syconHello {
  text-align: center;
}