<div> 
	<!--a ui-sref=reports class="pull-right btn btn-warning btn-outline btn-rounded">
		Reports
	</a-->
    <h2 class="syconHello">
    	Modules
    	<!--br>
    	<small>Why is Ani Theme so awesome?</small>
    	-->
    </h2>
    <div class="jumbotron">
        <div class="container">

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1 ui-sref="caixa">
            	   <i class="glyphicon glyphicon-shopping-cart" ></i>
            	   Caixa
            	</h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1 ui-sref="copa">
                    <i class="glyphicon glyphicon-glass" ></i>
                    Copa
                </h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1 ui-sref="cozinha">
                    <i class="glyphicon glyphicon-cutlery" ></i>
                    Cozinha
                </h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1 ui-sref="padaria">
                    <i class="glyphicon glyphicon-grain" ></i>
                    Padaria
                </h1>
            </div>

        </div>
    </div>
</div>