<div> 
	<!--a ui-sref=reports class="pull-right btn btn-warning btn-outline btn-rounded">
		Reports
	</a-->
    <h2 class="syconHello">
    	Ponto de Venda
    	<!--br>
    	<small>Why is Ani Theme so awesome?</small>
    	-->
    </h2>
    <div class="jumbotron">
        <div class="container">
            <!-- 
            	Default Overview Page Layout
            <h1>Welcome!</h1> 
            I don't want to bloat this Ani Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!
            <br>
            <br>
            <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p>
            -->
            

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
            	<h1>
            	<i class="glyphicon glyphicon-barcode" ></i>
            	Analisar
            	</h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1>
                <i class="glyphicon glyphicon-scale" ></i>
                Balança
                </h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
                <h1>
                <i class="glyphicon glyphicon-shopping-cart" ></i>
                Caixa
                </h1>
            </div>

            <div class="btn btn-primary btn-outline btn-lg btn-block" >
            	<h1>
            	<i class="glyphicon glyphicon-log-in" ></i>
            	Registrar
            	</h1>
            </div>
        </div>
    </div>
</div>